apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: gitlab-runner
  namespace: gitlab-runner
rules:
  - apiGroups: ["", "apps", "networking.k8s.io"]
    resources: ["pods", "secrets", "configmaps", "deployments", "services", "ingresses"]
    verbs: ["list", "get", "watch", "create", "delete", "update", "patch"]
  - apiGroups: ["", "apps"]
    resources: ["pods/exec", "pods/attach"]
    verbs: ["create", "patch", "delete"]
  - apiGroups: ["", "apps"]
    resources: ["pods/log"]
    verbs: ["get"]